[Unit]
Description=Systemd service for starting the JWST playlist in mplayer
Wants=sound.target
After=multi-user.target

[Service]
Type=exec
User=user
ExecStart=/path/to/jwst-playlist.sh --no-daemon
RemainAfterExit=true
Restart=always
RestartSec=60

[Install]
WantedBy=default.target

